.container{
    text-align: center;
}

.container img{
    width: 200px;
    height: 100px;
    margin: 10px;
    display: inline;
    margin: 0 auto;
}

h1{
    text-align: center;
}

p{
    margin: 10px;
}
